<tr class="odd">
<td>%(comment_start)s<input type="checkbox" name="entry" value="%(structure_id)s" /> &nbsp; %(comment_end)s <font color="%(status_color)s">%(entry_header)s %(stop_sign)s</font>
<input type="hidden" name="pdbid_%(structure_id)s" value="%(pdb_id)s" />
<input type="hidden" id="status_code_%(structure_id)s" name="status_code_%(structure_id)s" value="%(status_code)s" /></td>
<td><font color="%(status_color)s">%(comb_ids)s</font></td>
<td><font color="%(status_color)s">%(rcsb_annotator)s</font></td>
<td><font color="%(status_color)s">%(comb_status_code)s</font> %(status_warning)s</td>
<td><font color="%(status_color)s">%(exp_data)s</font></td>
<td><font color="%(status_color)s">%(author_release_status_code)s</font></td>
<td><font color="%(status_color)s">%(exp_method)s</font></td>
<td><font color="%(status_color)s">%(initial_deposition_date)s</font></td>
<td><font color="%(status_color)s">%(release_dates)s</font></td>
<td><font color="%(status_color)s">%(date_hold_coordinates)s</font></td>
</tr>
