<tr><td style="text-align:left;" colspan="%(cols)s">
<span style="float: right;">
<a href="/service/messaging/new_session/wf?identifier=%(structure_id)s&filesource=archive&annotator=%(annotator)s&expmethod=%(urlmethod)s%(locklabel)s" target = "_blank">Communication</a> %(major_issue)s
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<input value="All checks" type="button" onclick="run_all_checks('%(structure_id)s');"  />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</span>
<a id="author_%(id)s" class="jshead ui-corner-all" href="#"><span class="fltlft"></span> Author & Title </a>
<table style="display:inline-block">
<tr>
<td style="text-align:left;border-style:none">Authors:</td>
<td style="text-align:left;border-style:none" colspan="10">%(author_list)s</td>
</tr>

<tr>
<td style="text-align:left;border-style:none">Title:</td>
<td style="text-align:left;border-style:none" colspan="10">%(title)s</td>
</tr>
</table>
</td></tr>
<!--
<tr><td style="border-style:none" colspan="%(cols)s">&nbsp; &nbsp; </td></tr>
-->
