%(begin_comment)s<tr><td style="border-style:none;" colspan="%(cols)s">&nbsp;</td></tr>%(end_comment)s
<tr %(class)s>
<td style="text-align:left;%(style)s" colspan="%(cols)s">
<a id="revision_%(count)s" class="jshead ui-corner-all" href="#"><span class="fltlft"></span> Revision History </a>
<div style="display:%(display)s">
<table>
<tr><td style="text-align:center;border-style:none;font-size: 18px;" colspan="9">PDB REVDAT Modified Record(s)</td></tr>
<tr>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HEADER" /> &nbsp; HEADER </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="OBSLTE" /> &nbsp; OBSLTE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="TITLE" /> &nbsp; TITLE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SPLIT" /> &nbsp; SPLIT </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="CAVEAT" /> &nbsp; CAVEAT </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="COMPND" /> &nbsp; COMPND </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SOURCE" /> &nbsp; SOURCE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="KEYWDS" /> &nbsp; KEYWDS </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="EXPDTA" /> &nbsp; EXPDTA </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="NUMMDL" /> &nbsp; NUMMDL </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="MDLTYP" /> &nbsp; MDLTYP </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="AUTHOR" /> &nbsp; AUTHOR </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="REVDAT" /> &nbsp; REVDAT </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SPRSDE" /> &nbsp; SPRSDE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="JRNL" %(jrnl)s /> &nbsp; JRNL </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="REMARK" /> &nbsp; REMARK </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="DBREF" /> &nbsp; DBREF </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="DBREF1" /> &nbsp; DBREF1 </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="DBREF2" /> &nbsp; DBREF2 </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SEQADV" /> &nbsp; SEQADV </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SEQRES" /> &nbsp; SEQRES </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="MODRES" /> &nbsp; MODRES </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HET" /> &nbsp; HET </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HETNAM" /> &nbsp; HETNAM </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HETSYN" /> &nbsp; HETSYN </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="FORMUL" /> &nbsp; FORMUL </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HELIX" /> &nbsp; HELIX </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SHEET" /> &nbsp; SHEET </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SSBOND" /> &nbsp; SSBOND </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="LINK" /> &nbsp; LINK </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="CISPEP" /> &nbsp; CISPEP </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SITE" /> &nbsp; SITE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="CRYST1" /> &nbsp; CRYST1 </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="ORIGX" /> &nbsp; ORIGX </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SCALE" /> &nbsp; SCALE </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="MTRIX" /> &nbsp; MTRIX </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="MODEL" /> &nbsp; MODEL </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="ATOM" /> &nbsp; ATOM </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SIGATM" /> &nbsp; SIGATM </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="ANISOU" /> &nbsp; ANISOU </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="SIGUIJ" /> &nbsp; SIGUIJ </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="HETATM" /> &nbsp; HETATM </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="ENDMDL" /> &nbsp; ENDMDL </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="CONECT" /> &nbsp; CONECT </td>
<td style="text-align:left;border-style:none;"><input type="checkbox" name="revdat_%(structure_id)s" value="MASTER" /> &nbsp; MASTER </td>
</tr>
<tr><td style="border-style:none;" colspan="9">&nbsp;</td></tr>
</table>
<table>
<tr><td style="text-align:center;border-style:none;font-size: 18px;" colspan="2">PDBx Revision Type and Details</td></tr>
<tr>
<td style="text-align:left;border-style:none;font-size:18px;width:270px;">Revision Type</td>
<td style="text-align:left;border-style:none;font-size: 18px;">Details</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Entry title" /> &nbsp; Entry title </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Entry_title" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Function and keywords" /> &nbsp; Function and keywords </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Function_and_keywords" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Entry authorship" /> &nbsp; Entry authorship </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Entry_authorship" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Citation" %(jrnl)s /> &nbsp; Citation </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Citation" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Polymer description" /> &nbsp; Polymer description </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Polymer_description" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Non-polymer description" /> &nbsp; Non-polymer description </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Non-polymer_description" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Source and taxonomy" /> &nbsp; Source and taxonomy </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Source_and_taxonomy" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Experimental method" /> &nbsp; Experimental method </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Experimental_method" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Refinement description" /> &nbsp; Refinement description </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Refinement_description" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Data collection" /> &nbsp; Data collection </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Data_collection" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Biological assembly" /> &nbsp; Biological assembly </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Biological_assembly" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Geometry validation" /> &nbsp; Geometry validation </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Geometry_validation" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Sequence database correspondence" /> &nbsp; Sequence database correspondence </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Sequence_database_correspondence" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Secondary structure" /> &nbsp; Secondary structure </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Secondary_structure" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Binding sites and description" /> &nbsp; Binding sites and description </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Binding_sites_and_description" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Atom nomenclature" /> &nbsp; Atom nomenclature </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Atom_nomenclature" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Atom element type assignment" /> &nbsp; Atom element type assignment </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Atom_element_type_assignment" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Atom occupancy" /> &nbsp; Atom occupancy </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Atom_occupancy" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Atom temperature factor" /> &nbsp; Atom temperature factor </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Atom_temperature_factor" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Solvent atom position" /> &nbsp; Solvent atom position </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Solvent_atom_position" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Linkage" /> &nbsp; Linkage </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Linkage" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Advisory" /> &nbsp; Advisory </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Advisory" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Version format compliance" /> &nbsp; Version format compliance </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Version_format_compliance" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Flag nonstandard coordinate frame" /> &nbsp; Flag nonstandard coordinate frame </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Flag_nonstandard_coordinate_frame" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Flag residual B-value" /> &nbsp; Flag residual B-value </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Flag_residual_B-value" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Initial release" /> &nbsp; Initial release </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Initial_release" size="95" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:270px;"><input type="checkbox" name="revision_type_%(structure_id)s" value="Other" /> &nbsp; Other </td>
<td style="text-align:left;border-style:none;"><input type="text" name="revision_detail_%(structure_id)s_Other" size="95" /> </td>
</tr>
</table>
</div>
</td>
</tr>
