%(begin_comment)s<tr><td style="border-style:none;" colspan="%(cols)s">&nbsp;</td></tr>%(end_comment)s
<tr %(class)s>
<td style="text-align:left;%(style)s" colspan="%(cols)s">
<a id="revision_%(count)s" class="jshead ui-corner-all" href="#"><span class="fltlft"></span> Revision History </a>
<div style="display:%(display)s">
<table id="pdb_revdat_%(structure_id)s">
<tr><td style="text-align:center;border-style:none;font-size: 18px;" colspan="9">PDB REVDAT Modified Record(s)</td></tr>
%(revdat)s
<tr><td style="border-style:none;" colspan="9">&nbsp;</td></tr>
</table>
<table id="pdbx_revision_%(structure_id)s">
<tr><td style="text-align:center;border-style:none;font-size: 18px;" colspan="2">PDBx Revision Type and Details</td></tr>
<tr>
<td style="text-align:left;border-style:none;font-size:18px;width:270px;">Revision Type</td>
<td style="text-align:left;border-style:none;font-size: 18px;">Details</td>
</tr>
%(revision_type)s
</table>
</div>
</td>
</tr>
