<tr>
<td style="text-align:left;border-style:none;width:140px">PubMed ID:</td>
<td style="text-align:left;border-style:none">%(pdbx_database_id_PubMed)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Title:</td>
<td style="text-align:left;border-style:none">%(title)s</td>
</tr>
<tr>
<td style="vertical-align:text-top;text-align:left;border-style:none;width:140px">Author(s):</td>
<td style="text-align:left;border-style:none">%(author)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Journal:</td>
<td style="text-align:left;border-style:none">%(journal_abbrev)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Volume:</td>
<td style="text-align:left;border-style:none">%(journal_volume)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Page(s):</td>
<td style="text-align:left;border-style:none">%(page)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Year:</td>
<td style="text-align:left;border-style:none">%(year)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">DOI:</td>
<td style="text-align:left;border-style:none">%(pdbx_database_id_DOI)s</td>
</tr>
