<tr><td style="border-style:none;" colspan="2">&nbsp;</td></tr>
<tr>
<td style="text-align:left;border-style:none;" class="%(bgclass)s" colspan="2">
%(checkbox)s &nbsp;
<a id="citation_count_%(count)s" class="jshead ui-corner-all" href="#"><span class="fltlft"></span>
<span>Citation ID: %(citation_id)s %(flag)s &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<span style="color:%(color)s">Score: %(similarity_score)s</span>
</span>
</a>
<table style="display:inline-block">
<tr><td style="border-style:none;" colspan="2">&nbsp;</td></tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Auth Citation:</td>
<td style="text-align:left;border-style:none">%(auth_citation)s</td>
</tr>
%(auth_citation_info)s
<tr><td style="border-style:none;" colspan="2">&nbsp;</td></tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">PubMed Citation:</td>
<td style="text-align:left;border-style:none">%(pubmed_citation)s</td>
</tr>
%(pubmed_citation_info)s
</table>
</td>
</tr>
