<input type="hidden" name="max_author_num" id="max_author_num" value="%(max_author_num)s" />
<input type="hidden" name="previous_doi_value" id="previous_doi_value" value="%(previous_doi_value)s" />
<tr>
<td style="text-align:left;border-style:none;width:140px">Citation ID:</td>
<td style="text-align:left;border-style:none" colspan="2">%(citation_id_text)s <input type="hidden" name="citation_id" id="citation_id" value="%(citation_id)s" /> </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Citation Title:</td>
<td style="text-align:left;border-style:none" colspan="2">%(title)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Journal Abbrev.:</td>
<td style="text-align:left;border-style:none" colspan="2">%(journal_abbrev)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Journal Volume:</td>
<td style="text-align:left;border-style:none" colspan="2">%(journal_volume)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Year:</td>
<td style="text-align:left;border-style:none" colspan="2">%(year)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">First Page:</td>
<td style="text-align:left;border-style:none" colspan="2">%(page_first)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Last Page:</td>
<td style="text-align:left;border-style:none" colspan="2">%(page_last)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">PubMed ID:</td>
<td style="text-align:left;border-style:none" colspan="2">%(pdbx_database_id_PubMed)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">DOI:</td>
<td style="text-align:left;border-style:none" colspan="2">%(pdbx_database_id_DOI)s</td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">Keep Current Citation:</td>
<td style="text-align:left;border-style:none" colspan="2"><input type="checkbox" id="keep_citation_checkbox" name="keep_citation" value="%(citation_id)s"/></td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">  &nbsp; </td>
<td style="text-align:left;border-style:none" colspan="2"> &nbsp; </td>
</tr>
<tr>
<td style="text-align:left;border-style:none;width:140px">  &nbsp; </td>
<td style="text-align:left;border-style:none">Author name syntax: last name, initial </td>
<td style="text-align:left;border-style:none">Orcid </td>
</tr>
