<h1 style="text-align:center">%(task)s</h1>

<form name="citation_request" id="citation_request" method="post" enctype="multipart/form-data">
<input type="hidden" name="sessionid" id="sessionid_request" value="%(sessionid)s" />
<input type="hidden" name="annotator" id="annotator_request" value="%(annotator)s" />
<input type="hidden" name="owner" id="owner_citation" value="%(annotator)s" />
<input type="hidden" name="task" value="%(task)s" />
<input type="hidden" name="citationformflag", value="yes" />
<table>

<tr>
<td style="text-align:left;border-style:none;width:140px">&nbsp;</td>
<td style="text-align:left;border-style:none">Syntax: entry_id_1 [, entry_id_2, entry_id_3, .....] (Multiple entry IDs need to be separated by either space, or comma character, or tab character.)</td>
</tr>

<tr>
<td style="text-align:left;border-style:none;width:140px">Select Entry by ID(s):</td>
<td style="text-align:left;border-style:none"><textarea name="entry_ids" cols="120" rows="1" wrap>%(identifier)s</textarea></td>
</tr>

<tr><td style="text-align:center; border-style:none" colspan="2">&nbsp;</td></tr>

<tr>
<td style="text-align:left;border-style:none;width:140px">Citation ID:</td>
<td style="text-align:left;border-style:none">
<select name="citation_id" id="citation_id">
<option value="primary" selected>primary</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="original_data_1">original_data_1</option>
<option value="original_data_2">original_data_2</option>
<option value="original_data_3">original_data_3</option>
<option value="original_data_4">original_data_4</option>
<option value="original_data_5">original_data_5</option>
<option value="original_data_6">original_data_6</option>
<option value="original_data_7">original_data_7</option>
<option value="original_data_8">original_data_8</option>
<option value="original_data_9">original_data_9</option>
<option value="original_data_10">original_data_10</option>
</select>
</td>
</tr>

<tr><td style="text-align:center; border-style:none" colspan="2">&nbsp;</td></tr>

<tr>
<td style="text-align:left;border-style:none;width:140px">Upload RIS format<br/>citation file:</td>
<td style="text-align:left;border-style:none"><input type="file" name="file" onclick="window.ready_to_process=true"/></td>
</tr>

<tr><td style="text-align:center; border-style:none" colspan="2">&nbsp;</td></tr>

<tr>
<td style="text-align:center; border-style:none" colspan="2">
<input id="run_citation_request" name="run_citation_request" class="run_request" value="Input Citation Info." type="button" />
</td>
</tr>
</table>

</form>
