<h1 style="text-align:center">%(task)s</h1>

<form name="marked_pubmed_request" id="marked_pubmed_request" method="post">
<input type="hidden" name="sessionid" id="sessionid_marked" value="%(sessionid)s" />
<input type="hidden" name="annotator" id="annotator_marked" value="%(annotator)s" />
<input type="hidden" name="owner" id="owner_citation" value="%(annotator)s" />
<input type="hidden" name="task" value="%(task)s" />
<table>

<tr>
<td style="text-align:left;border-style:none;width:140px">&nbsp;</td>
<td style="text-align:left;border-style:none">Syntax: entry_id_1 [, entry_id_2, entry_id_3, .....] (Multiple entry IDs need to be separated by either space, or comma character, or tab character.)</td>
</tr>

<tr>
<td style="text-align:left;border-style:none;width:140px">Entry IDs:</td>
<td style="text-align:left;border-style:none"><textarea name="entry_ids" cols="120" rows="1" wrap></textarea></td>
</tr>

<tr><td style="text-align:center; border-style:none" colspan="2">&nbsp;</td></tr>

<tr>
<td style="text-align:center; border-style:none" colspan="2">
<input id="run_marked_pubmed_request" name="run_marked_pubmed_request" class="run_request" value="Review Marked PubMed ID" type="button" />
</td>
</tr>
</table>

</form>
