<tr><td style="border-style:none;" colspan="2">&nbsp;</td></tr>
<tr>
<td style="text-align:left;border-style:none;" colspan="2">
<input type="%(type)s" name="pubmed_%(structure_id)s" value="%(pdbx_database_id_PubMed)s_%(citation_id)s" %(check_option)s /> &nbsp;
<a id="pubmed_count_%(count)s" class="jshead ui-corner-all" href="#"><span class="fltlft"></span>
<span>Pubmed: %(pdbx_database_id_PubMed)s &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<span style="color:%(color)s">Score: %(similarity_score)s</span>
</span>
</a>
%(pubmed_citation_info)s
</td>
</tr>
